.te{
    height: 100px;
    width: 60%;
}
.hb1{
    text-align: center;
}
.img5{
    height: 500px;
    width: 80%;
    text-align: center;
    margin-left: 100px;
    margin-top: 20px;
}
.hb10{
    text-align: center;
}